.feed__item_size_s, .feed__item_size_m {
  grid-row-gap: 8px; }
  @media (min-width: 1440px) {
    .feed__item_size_s, .feed__item_size_m {
      grid-row-gap: 12px; } }

.feed__item_size_s {
  grid-template-areas: "header header" "content controls";
  grid-template-rows: -webkit-min-content auto;
  grid-template-rows: min-content auto; }

.feed__item_size_s_text {
  grid-template-areas: "header" "content" "controls";
  grid-template-rows: -webkit-min-content auto 40px;
  grid-template-rows: min-content auto 40px; }

.feed__item_size_m {
  grid-template-columns: auto 40px;
  grid-template-areas: "header header" "content controls";
  grid-template-rows: -webkit-min-content auto;
  grid-template-rows: min-content auto; }
  @media (min-width: 768px) {
    .feed__item_size_m {
      grid-template-areas: "header header" "content content" "footer controls";
      grid-template-rows: -webkit-min-content auto -webkit-min-content;
      grid-template-rows: min-content auto min-content; } }

.feed__item_size_l {
  grid-row-gap: 8px;
  grid-template-areas: "header header" "content controls";
  grid-template-rows: -webkit-min-content auto -webkit-min-content;
  grid-template-rows: min-content auto min-content; }
  @media (min-width: 1440px) {
    .feed__item_size_l {
      grid-row-gap: 12px; } }
  @media (min-width: 768px) {
    .feed__item_size_l {
      grid-template-areas: "content header" "content footer" "content controls";
      grid-gap: 8px 16px;
      grid-template-rows: auto 1fr 24px; } }
  @media (min-width: 1024px) {
    .feed__item_size_l {
      grid-template-areas: "content content header" "content content footer" "content content controls"; } }

.feed {
  display: grid;
  grid-gap: 24px 16px;
  grid-template-columns: repeat(6, 1fr);
  overflow-wrap: break-word;
  margin-bottom: 40px;
  grid-auto-flow: row dense; }
  @media (min-width: 768px) {
    .feed {
      grid-row-gap: 32px; } }
  @media (min-width: 1440px) {
    .feed {
      grid-column-gap: 32px; } }
  .feed__img {
    grid-area: content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%; }
    .feed__img img {
      -o-object-fit: cover;
         object-fit: cover;
      width: 100%;
      border-radius: 4px; }
  .feed__item {
    display: grid; }
    .feed__item_size_s {
      grid-column: auto / span 6; }
      @media (min-width: 530px) {
        .feed__item_size_s {
          grid-column: auto / span 3; } }
      @media (min-width: 1024px) {
        .feed__item_size_s {
          grid-column: auto / span 2; } }
      @media (min-width: 768px) {
        .feed__item_size_s .feed__title {
          font-size: 1.063rem; } }
      .feed__item_size_s .feed__img {
        grid-row: 2 / 4;
        grid-column: 1 / 3; }
      .feed__item_size_s .feed__controls {
        grid-row: 2 / 4; }
      .feed__item_size_s_text .feed__description {
        grid-area: content;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 8;
        max-height: 11.432em; }
      .feed__item_size_s_text .feed__controls {
        grid-row: unset; }
    .feed__item_size_m {
      grid-column: auto / span 6; }
      @media (min-width: 530px) {
        .feed__item_size_m {
          grid-column: auto / span 3; } }
      .feed__item_size_m .feed__img {
        grid-column-end: 3; }
      .feed__item_size_m .feed__description {
        -webkit-line-clamp: 3;
        max-height: 4.287em; }
      @media (min-width: 768px) {
        .feed__item_size_m .feed__controls {
          padding-top: 0;
          padding-bottom: 0; }
        .feed__item_size_m .feed__control {
          margin-right: 0; } }
    .feed__item_size_l {
      grid-column: auto / span 6;
      grid-template-columns: 1fr; }
      @media (min-width: 768px) {
        .feed__item_size_l {
          grid-template-columns: 1fr 1fr; } }
      @media (min-width: 1024px) {
        .feed__item_size_l {
          grid-template-columns: 1fr 1fr 1fr; } }
      .feed__item_size_l .feed__img {
        grid-column-end: 3; }
        @media (min-width: 768px) {
          .feed__item_size_l .feed__img {
            grid-column-end: 2; } }
        @media (min-width: 1024px) {
          .feed__item_size_l .feed__img {
            grid-column-end: 3; } }
    .feed__item_size_m .feed__controls, .feed__item_size_s .feed__controls, .feed__item_size_l .feed__controls {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; }
    @media (min-width: 768px) {
      .feed__item_size_l .feed__controls {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-right: 0; } }
    @media (min-width: 768px) {
      .feed__item_size_m .feed__controls {
        margin-right: 0; } }
    .feed__item_size_s_text .feed__controls {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-right: 0; }
    .feed__item_size_s_text .feed__control_more {
      margin-right: 16px;
      margin-left: 16px; }
  .feed__title, .feed__description {
    margin: 0; }
  .feed__title {
    font-weight: 700;
    grid-area: header;
    line-height: 1.250em;
    font-size: 1.188rem; }
    @media (min-width: 768px) {
      .feed__title {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 4;
        max-height: 5em; } }
  .feed__controls {
    grid-area: controls;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 2;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px; }
    @media (min-width: 768px) {
      .feed__controls {
        padding-top: 16px;
        padding-bottom: 16px;
        margin-right: 16px; } }
  .feed__description {
    font-size: 0.875rem;
    line-height: 1.429em;
    grid-area: footer;
    display: none; }
    @media (min-width: 768px) {
      .feed__description {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 8;
        max-height: 11.432em; } }
  .feed__chanel {
    font-weight: 700;
    font-size: 0.8rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0; }
  .feed__control {
    width: 17px;
    height: 16px;
    background-repeat: no-repeat;
    cursor: pointer; }
    .feed__control_like {
      background-image: url(img/Heart.png); }
    .feed__control_more {
      background-image: url(img/Actions.png);
      height: 4px; }
