<template id="feed-list-template">
    <link rel="stylesheet" href="./feed.css">
    <section class="feed" id="feed"></section>
</template>
<!-- edge problems decide here-->
<!--<style>-->
    <!--.feed >>>{-->
        <!--border : 2px solid green;-->
    <!--}-->
<!--</style>-->
<!--<script>-->
  <!--var importDoc = document.currentScript.ownerDocument;-->
  <!--var style = importDoc.querySelector('style');-->
  <!--document.head.appendChild(style);-->
<!--</script>-->
<script src="../components/FeedList.js"></script>