.container{
  min-width: 280px;
  width: 80%;
  max-width: 704px;
  margin: 0 auto;
  display: block; // fix forfire fox

  @include media('(min-width : 920px)') {
    width: 72%;
  }

  @include media('(min-width : 1440px)') {
    max-width: 1000px;
  }
}