%vertical-grid {
  grid-row-gap: 8px;
}

%vertical-grid_s_size{
  grid-template-areas:
          "header"
          "content"
          "controls";
  grid-template-rows: min-content auto 40px;
}

%vertical-grid_m_size{
  grid-template-columns: auto 40px;
  grid-template-areas:
          "header header"
          "content content"
          "footer controls";
  grid-template-rows: min-content auto min-content ;
}

%horizontal-grid{
  grid-template-areas:
          "content content header"
          "content content footer"
          "content content controls";
  grid-gap: 8px 16px;
  grid-template-rows: auto 1fr 24px;
}

%font-settings-big{
  font-size: 1.188rem;
}

.feed{
  display: grid;
  grid-gap: 32px 16px;
  grid-template-columns: repeat(6, 1fr);
  word-wrap: break-word;

  picture{
    grid-area: content;
    display: flex;
    height: 100%;

    img{
      object-fit: fill;
    }
  }

  &__item{
    display: grid;

    &_size_s{
      grid-column: auto / span 2;
      @extend %vertical-grid;
      @extend %vertical-grid_s_size;

      .feed__title{
        font-size: 1.063rem;
      }

      picture{
        grid-row: 2 / 4;
      }

      &_text{
        .feed__description{
          grid-area: content;
        }
      }

    }

    &_size_m{
      grid-column: auto / span 3;

      @extend %vertical-grid;
      @extend %vertical-grid_m_size;

      .feed__title{
        @extend %font-settings-big;
      }

      .feed__description{
        max-height: 1rem * 3.5;
      }

    }

    &_size_l{
      grid-column: auto / span 6;
      @extend %horizontal-grid;
      grid-template-columns: auto auto 1fr;

      .feed__title{
        @extend %font-settings-big;
      }
    }
  }

  &__title{
    font-weight: 700;
    grid-area: header;
    margin: 0;
    line-height: 1.250em;
  }

  &__controls{
    grid-area: controls;
    background: red;
    z-index: 2;
  }

  &__description{
    font-size: 0.875rem;
    line-height: 1.429em;
    overflow: hidden;
    grid-area: footer;
    margin: 0;
  }
}