%vertical-grid {
  grid-template-areas:
          "header"
          "content"
          "footer";
  grid-row-gap: 8px;
  grid-template-rows: min-content auto min-content;
}

%horizontal-grid{
  grid-template-areas:
          "content content header"
          "content content footer"
          "content content footer";
  grid-gap: 8px 16px;
  grid-template-rows: auto 1fr;
}

.feed{
  display: grid;
  grid-gap: 32px 16px;
  grid-template-columns: repeat(6, 1fr);
  word-wrap: break-word;

  picture{
    grid-area: content;
    display: flex;
    height: 100%;
  }

  &__item{
    display: grid;

    grid-template-columns: auto auto 1fr;

    &_size_s{
      grid-column: auto / span 2;
      @extend %vertical-grid;
      .feed__title{
        font-size: 1.063rem;
      }

    }

    &_size_m{
      grid-column: auto / span 3;
      @extend %vertical-grid;

      .feed__title{
        font-size: 1.188rem;
        line-height: 23px;
      }

      .feed__description{
        max-height: 1rem * 3.5;
      }

    }

    &_size_l{
      grid-column: auto / span 6;
      @extend %horizontal-grid;

      .feed__title{
        font-size: 1.188rem;
        line-height: 23px;
      }
    }
  }

  &__title{
    font-weight: 700;
    grid-area: header;
    margin: 0;
  }

  &__description{
    font-size: 1rem;
    overflow: hidden;
    grid-area: footer;
    margin: 0;
  }
}