<template id="feed-list-template">
    <link rel="stylesheet" href="./feed.css">
    <section class="feed" id="feed"></section>
</template>
<!-- edge problems decide here-->
<link rel="stylesheet" href="../feed.css">
<script>
  var isEdge = window.navigator.userAgent.indexOf('Edge/');
  if (isEdge){
    var importDoc = document.currentScript.ownerDocument;
    var style = importDoc.querySelector('link[rel=stylesheet]');
    document.head.appendChild(style);
  }

</script>
<script src="../components/FeedList.js"></script>